
<div class="col-xs-12 col-sm-11 col-sm-offset-1 col-md-11 col-md-offset-1  col-lg-10 col-lg-offset-2">
  <a ng-href="datasets?categories.slug={{ category.name | slug }}" class=" category-box col-xs-3 col-sm-2 col-md-2 col-lg-2 " ng-repeat="category in categories | orderBy: 'name'"
      style="background-color: red" ng-mouseover="hoverActive = true" ng-mouseleave="hoverActive = false"
      ng-style="hoverActive && category.color !== 'null' ? {'background-color': category.color} : {'background-color': custom_defaults.categoriesContainer || category.color}">
    <div class="categories-item categories-grid-item">
      <div ng-if="!!category.image" class="category-image" svg-img="category.image"></div>
      <h4 class="categories-item-title categories-grid-item-title">{{category.name}}</h4>
    </div>
  </a>
</div>
